.music_card {
  --_clr-card-base-text: hsl(0, 0%, 70%);
  --_clr-card-main-text: hsl(0, 0%, 90%);
  --_clr-card-bgk: hsl(0, 0%, 3%);
  position: relative;
  isolation: isolate;
  background-color: var(--_clr-card-bgk);
  color: white;
  width: 100%;
  max-width: 414px;
  height: fit-content;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 200ms ease;

  &__info {
    cursor: pointer;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: capitalize;

    & img {
      --_size: 100%;
      height: var(--_size);
      width: var(--_size);
      object-fit: cover;
      object-position: center;
      border-radius: 0.2rem;
    }
    &__sound {
      & div {
        color: white;
        display: flex;
        gap: 0.4rem;
        align-items: center;
      }

      & img {
        filter: invert(254);
        width: 25px;
      }
    }

    & > div:not(&__sound) {
      flex: 1;
    }

    & h1 {
      color: var(--_clr-card-main-text);
      font-size: 1.2rem;
    }
    & p {
      color: var(--_clr-card-base-text);
    }
  }

  &__cover_btn {
    --_size: 50px;
    height: var(--_size);
    width: var(--_size);
    opacity: 1;
    transition: all 400ms ease;
    transition-delay: 100ms;

    &[aria-hidden="true"] {
      --_size: 0;
      translate: 100px -200px;
      margin-left: -1rem;
      opacity: 0;
      transition-delay: 50ms;
    }
  }
}
