.progress_bar_container:hover {
  .progress_bar {
    height: 10px;
  }
}

.progress_bar {
  margin-block: 0.3rem 1rem;
  width: 100%;
  height: 5px;
  background-color: hsl(0, 0%, 55%);
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: height 200ms ease;

  &__inner {
    position: absolute;
    inset: 0;
    // width: 20%;
    border-radius: inherit;
    background-color: hsl(0, 0%, 100%);
  }

  &__time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    color: hsl(0, 0%, 55%);
  }
}
