@mixin fontFamily($weight) {
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  @include fontFamily(400);
  padding: 0.3rem;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}

main {
  min-height: 100dvh;
  display: grid;
  justify-content: center;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 1rem;
}

h1 {
  @include fontFamily(500);
}
