.music_controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  & button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.5rem;
    transition: 200ms linear;
    transition-property: background, transform;

    & svg {
      --_size: 45px;
      width: var(--_size);
      height: var(--_size);
    }

    &:hover {
      transform: scale(1.09);
    }

    &:active {
      background-color: hsl(0, 0%, 25%);
      transform: rotate(8deg);
    }
  }
}
