// Primary colors
$Lightred: hsl(0, 100%, 67%);
$Orangeyyellow: hsl(39, 100%, 56%);
$Greenteal: hsl(166, 100%, 37%);
$Cobaltblue: hsl(234, 85%, 45%);

//Gradients:
//(background)
$LightSlateBlue: hsl(252, 100%, 67%);
$LightRoyalBlue: hsl(241, 81%, 54%);
//(circle)
$VioletBlue: hsla(256, 72%, 46%, 1);
$PersianBlue: hsla(241, 72%, 46%, 0);

//Neutral

$White: hsl(0, 0%, 100%);
$PaleBlue: hsl(221, 100%, 96%);
$LightLavender: hsl(241, 100%, 89%);
$DarkGrayBlue: hsl(224, 30%, 27%);

* {
  /*border: 0.5px red solid;*/
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
}
html {
  font-size: 100%;
}
body {
  display: grid;
  align-items: center;
  place-items: center;
  margin-top: 6em;
  margin-bottom: 100vh;
}
main {
  max-width: 600px;
  min-width: 340px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  border: none;
  margin-bottom: 100px;
}

.resultsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  padding: 0 14.2%;
  height: 100%;
  background-image: linear-gradient($LightSlateBlue, $LightRoyalBlue);
  border-radius: 20px;
  border: none;
  h3 {
    margin-top: 1.5em;
    font-size: 1.18em;
    color: $LightLavender;
  }
  h2 {
    font-size: 1.8em;
    color: $White;
    margin-bottom: 0;
  }
  p {
    padding-bottom: 18%;
    margin-top: 1em 2em;
    font-size: 1em;
    font-weight: 100;
    color: $LightLavender;
  }
}
.circle-results {
  margin-top: 1.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  border-radius: 80px;
  /*box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;*/
  background-image: linear-gradient( $VioletBlue, $PersianBlue);
  h1 {
    margin: 0;
    font-size: 3.5em;
    color: $White;
  }
  span {
    color: $LightLavender;
  }

}
.summaryDiv {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  h3 {
    margin-left: 1.3em;
    margin-top: 1.5em;
    color: $DarkGrayBlue;
  }
 .stats-sumary .show-stats.rojo {
  background-color: hsla(0, 95%, 93%, 0.592);
  color: $Lightred;
 }
 .stats-sumary .show-stats.amarillo {
  background-color: hsla(49, 94%, 93%, 0.592);
  color: $Orangeyyellow;
 }
 .stats-sumary .show-stats.verde {
  background-color: hsla(106, 94%, 93%, 0.592);
  color: $Greenteal;
 }
 .stats-sumary .show-stats.lila {
  background-color: hsla(274, 94%, 93%, 0.592);
  color: $VioletBlue;
 }
}
.stats-sumary {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
}
.show-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 8%;
  border-radius: 8px;
  padding: 0px 10px;
  border: none;
  img{
    margin-right: 5px;
  }
  div {
    display: flex;
  }
  h4 {
    margin: 0;
    padding: 0;
  }
  p {
    color: $LightRoyalBlue;
  }
  p span.result {
    color: #111;
    font-weight: bold;
  }
}

.summary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    width: 80%;
    font-size: 1em;
    color: $VioletBlue;
    background-color: white;
    background-image: none;
    padding: 10px 10px;
    border-radius: 25px;
    border: none;
    border: 0.5px solid $VioletBlue;
    margin: 32px 0;
    cursor: pointer;
    transition: all 0.25s;
  }
  button:hover {
    background-image: linear-gradient($LightSlateBlue, $LightRoyalBlue);
    color: white;
    /*transform: scale(1.02, 1.05);*/
    border: 0.5 solid white;
  }
}
footer {
  display: grid;
  place-items: center;
  align-items: center;
  text-align: center;
  div p {
    margin: 0;
    padding: 0;
  }
}